<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParallelExecutionSuite" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>
    <test name="Bing Test Cases">
        <classes>
            <class name="com.usecase42.test.BingTests" />
        </classes>
    </test>
</suite>
